<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
{{message}}
</div>
<div id="app2">
    <span v-bind:title="message"></span>
    <!--<span>dupa, a nie inline span next to v-bind, it's outside the box!</span>-->
</div>
<div id="app3">
    <span v-if="seen">Now you see me</span>
</div>
<div id="app4">
    <ol>
        <li v-for="todo in todos">{{todo.text}}</li>
    </ol>
</div>
<div id="app5">
    <p>{{msg}}</p>
    <button v-on:click="reverseMessage">Reverse message</button>
</div>
<div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>
</body>
</html>